#frame{
    border-style: solid;
    border-width: medium;
    height: 100px;
    width: 100px;
    <!--overflow: hidden;-->
}



#slider{
    height: 500px;
    width: 94px;
    border-color: aqua;
    border-style: dotted;
    -webkit-transition: margin-top 1s linear;
    -moz-transition: margin-top 1s ease-in-out;
    -o-transition: margin-top 1s ease-in-out;
    transition: margin-top 1s ease-in-out;
}

#slider div{
    height: 100px;
    width: 88px;
    background-color: darkred;
}

#div1{ 
    height: 100px;
    width: 88px;
    background-color: aqua;
}
#2{ background-color: blueviolet;}
#3{ background-color: burlywood;}
#4{ background-color: forestgreen;}
#5{ background-color: cadetblue;}

